<%-include("partials/header")-%>
<main>
  <%-include("partials/nav")-%>
  <div class="container">
    <p class="heading">Blog Posts</p>
</div>
</main>
<section class="blog">
  <div class="container">
    <div class="row">
      <% posts.map ((post) => {%>
        <div class="col-lg-6">
          <div class="post">
            <div class="text">
              <span class="date"
                ><i class="far fa-calendar-alt"></i> <%=post.date%></span
              >
              <p class="post-title"><%=post.title%></p>
              <p class="content">
                <%= post.content.substring(0,100)+"..." %>
                <a href="/posts/<%=post._id%>">Read more</a>
              </p>
              <p class="by-line">
                By: <span class="by"><%=post.author%></span> / Comment:
                <span class="comment">12</span>
              </p>
            </div>
            <div class="image">
              <img src="/images/logo-min.png" alt="" class="post-image" />
            </div>
          </div>
        </div>
        
      <%})%>
    </div>
  </div>
</section>
<%-include("partials/footer")-%>
<%-include("partials/scripts")-%>
</body>
</html>
