<%- include ("partials/header.ejs") -%>
<body>
  <main class="main">
    <%- include ("partials/nav.ejs") -%>
    <div class="container">
      <div class="text-block mx-auto my-auto">
        <p class="text-main">Do all <span>things</span> with kindness</p>
        <p class="text-other">
          Our lives become more meaningful when we help others in need
        </p>
        <button class="btn btn-donate">Donate</button>
      </div>
    </div>
  </main>
  <section
    data-aos="fadeInUp"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    class="featured-cases"
  >
    <p class="heading">Featured Cases</p>
    <div class="container featured-content">
      <div
        id="carouselExampleIndicators1"
        class="carousel slide"
        data-ride="carousel"
        data-interval="10000"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cause">
              <div class="row">
                <div class="col-lg-6">
                  <img
                    class="campaign-image"
                    src="./images/campaign/owiredua.jpeg"
                  />
                </div>
                <div class="col-lg-6 text">
                  <h4 class="minor-heading">Let's help Owiredua</h4>
                  Owiredua has been diagnosed with Neurofibromatosis and to
                  correct this, Owiredua needs GHC 55,000 for surgery. Let's all
                  come together and support her.

                  <div>
                    <button class="btn btn-donate">Donate</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cause">
              <div class="row">
                <div class="col-lg-6">
                  <img
                    class="campaign-image"
                    src="./images/campaign/owiredua.jpeg"
                  />
                </div>
                <div class="col-lg-6 text">
                  <h4 class="minor-heading">Let's help Owiredua</h4>
                  Owiredua has been diagnosed with Neurofibromatosis and to
                  correct this, Owiredua needs GHC 55,000 for surgery. Let's all
                  come together and support her.

                  <div>
                    <button class="btn btn-donate">Donate</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cause">
              <div class="row">
                <div class="col-lg-6">
                  <img
                    class="campaign-image"
                    src="./images/campaign/owiredua.jpeg"
                  />
                </div>
                <div class="col-lg-6 text">
                  <h4 class="minor-heading">Let's help Owiredua</h4>
                  Owiredua has been diagnosed with Neurofibromatosis and to
                  correct this, Owiredua needs GHC 55,000 for surgery. Let's all
                  come together and support her.

                  <div>
                    <button class="btn btn-donate">Donate</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="nav justify-content-center">
          <li
            class="nav-item"
            data-target="#carouselExampleIndicators1"
            data-slide-to="0"
          >
            <a class="nav-link active" href="#"
              ><img
                src="./images/campaign/owiredua.jpeg"
                alt=""
                class="featured-thumb"
            /></a>
          </li>
          <li
            class="nav-item"
            data-target="#carouselExampleIndicators1"
            data-slide-to="1"
          >
            <a class="nav-link active" href="#"
              ><img
                src="./images/campaign/owiredua.jpeg"
                alt=""
                class="featured-thumb"
            /></a>
          </li>
          <li
            class="nav-item"
            data-target="#carouselExampleIndicators1"
            data-slide-to="2"
          >
            <a class="nav-link active" href="#"
              ><img
                src="./images/campaign/owiredua.jpeg"
                alt=""
                class="featured-thumb"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <p class="heading">What We Do</p>
      <div class="section-items">
        <div class="row">
          <div class="col-lg-4">
            <div class="item-text">
              <h2 class="item-heading">Free Surgery For the Needy</h2>
              The organization through its initiative, Hope Projects, has been
              providing free reconstructive surgery to members of the society,
              more than 230 lives have been impacted by this initiative.
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-text">
              <h2 class="item-heading">Medical Assistance Program</h2>
              The organization through this program, has provided medical relief
              and assistance to 7000 people who may not otherwise have access to
              healthcare. Through this program, the organization provides free
              screening on prostate cancer, Hepatitis B, Malaria, Diabetes and
              Eye Diseases.
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-text">
              <h2 class="item-heading">Education And Cultural Program</h2>
              These programs are geared towards improving education, providing
              more educational opportunities and also promoting cultural
              awareness.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta-testimony">
    <div class="container">
      <hr />

      <div class="testimony">
        <div class="container">
          <p class="heading">Testimonials</p>
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
            data-interval="5000"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="review">
                  <p class="review-text">
                    <span class="quote"><i class="fas fa-quote-left"></i></span
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos.<span class="quote"
                      ><i class="fas fa-quote-right"></i
                    ></span>
                  </p>
                  <p class="author">John Doe</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="review">
                  <p class="review-text">
                    <span class="quote"><i class="fas fa-quote-left"></i></span
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos .<span class="quote"
                      ><i class="fas fa-quote-right"></i
                    ></span>
                  </p>
                  <p class="author">John Doe</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="review">
                  <p class="review-text">
                    <span class="quote"><i class="fas fa-quote-left"></i></span
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos.<span class="quote"
                      ><i class="fas fa-quote-right"></i
                    ></span>
                  </p>
                  <p class="author">John Doe</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <p class="heading">Blog Posts</p>
      <div class="row">
        <% posts.map ((post) => {%>
        <div class="col-lg-6">
          <div class="post">
            <div class="text">
              <span class="date"
                ><i class="far fa-calendar-alt"></i> <%=post.date%></span
              >
              <p class="post-title"><%=post.title%></p>
              <p class="content">
                <%= post.content.substring(0,100)+"..." %>
                <a href="/posts/<%=post._id%>">Read more</a>
              </p>
              <p class="by-line">
                By: <span class="by"><%=post.author%></span> / Comment:
                <span class="comment">12</span>
              </p>
            </div>
            <div class="image">
              <img src="/images/logo-min.png" alt="" class="post-image" />
            </div>
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </section>
  <section class="partners desktop-only">
    <div class="container">
      <p class="heading">Our Partners</p>
      <div class="logo-mins row">
        <div class="col-lg-4 aga">
          <img
            data-aos="fadeInUp"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            class="featured-cases"
            class="partner-logo-min"
            src="/images/campaign/aga.png"
            alt=""
          />
        </div>
        <div class="col-lg-4">
          <img
            data-aos="fadeInUp"
            data-aos-offset="200"
            data-aos-delay="100"
            data-aos-duration="1000"
            class="partner-logo-min"
            src="/images/campaign/oma.png"
            alt=""
          />
        </div>
        <div class="col-lg-4">
          <img
            data-aos="fadeInLeft"
            data-aos-offset="200"
            data-aos-delay="1S50"
            data-aos-duration="1000"
            class="partner-logo-min"
            src="/images/campaign/agahealth.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <p class="heading">Contact Us</p>

      <div class="row">
        <div class="mx-auto col-lg-6">
          <form action="/contact" class="contact-form" method="POST">
            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Name" />
              <i class="fas fa-user"></i>
            </div>
            <div class="input-wrapper">
              <input type="email" name="name" placeholder="E-mail" />
              <i class="fa fa-envelope"></i>
            </div>
            <div class="input-wrapper">
              <textarea
                name="message"
                class="message"
                rows="5"
                placeholder="Message Here"
              ></textarea>
              <i class="fas fa-pencil-alt"></i>
            </div>
            <button type="submit" class="btn btn-contact">Send</button>
          </form>
        </div>
        <div class="col-lg-6 details desktop-only">
          <p class="address">
            <i class="round-icon fas fa-map-marker-alt"></i> Obuasi.
          </p>
          <p class="address">
            <a href="tel: +233 54 143 5288" class="phone"
              ><i class="round-icon fas fa-phone"></i>+233 54 143 5288</a
            >
          </p>
          <p class="address desktop-only">
            <a href="mailto:galaxyfoundation444@yahoo.com">
              <i class="round-icon fa fa-envelope"></i>
            </a>
            galaxyfoundation444@yahoo.com
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.841222863693!2d-1.613113!3d6.202848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ff46b97ecf548fb!2sSt.%20Peter&#39;s%20Catholic%20Church!5e0!3m2!1sen!2sus!4v1600032561224!5m2!1sen!2sus"
      height="350"
      frameborder="0"
      style="border: 0"
      allowfullscreen="true"
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
  <%- include ("partials/footer.ejs") -%> <%- include ("partials/scripts.ejs")
  -%>
</body>
